/* Reet the page with the following rules */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set the font-family of the body to Algerian */
body { 
    font-family: "Merriweather", sans-serif; 
}

header { 
    position: relative;
}

header #darkBtn { 
    position: absolute;
    top: 1rem; 
    right: 1rem;
    cursor: pointer;
}

header #darkBtn:hover { 
    color: green;
    background-color: grey;
}

.dark {
    background-color: #000;
    color: white;
}

/* .dark h1, h2 { 
    color: #fff;
}

.dark p { 
    color: white;
} */

header, 
footer { 
    /* background-color: rgb(119, 136, 153); lig */
    display: flex;
    max-width: 800px;
    margin: 0 auto; 
    justify-content: center;
    background-color: rgb(211, 211, 211);
    min-height: 4rem;
    padding: 2rem;
}
header span { 
    align-self: center;
    display: inline;
    font-size: 32px; 
    font-weight: bold; 
    /* font-family: "Rubik Wet Paint", sans-serif; */
    font-family: "play", sans-serif;
    padding: 0.5rem; 

}

header img { 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    border-radius: 10px; 
}

nav { 
   
    /* background-color: rgb(211, 211, 211); */
    background-color: #000;
    /* margin: 0 auto; */
    /* max-width: 100%; */
    max-width: 800px;
    margin: 0 auto;
}

nav a { 
    display: block;
    font-family: "Merriweather", sans-serif;
    padding: 1rem;
    text-align: center;
    color: white; 
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
nav a:hover { 
    background-color: rgb(255, 255, 255, 0.2); 
    color: white;
    text-decoration: overline; 
}

/* nav #menu::before { 
    content: "☰";
}
nav #menu.activate::before { 
    content: "X";
} */

nav #menu { 
    padding: 0px;
    display: block; 
    color: white;
    font-size: 2rem;
    background-color: black;
}
nav #menu:hover { 
    text-decoration: none;
}

/* Styling the boody */

main { 
    max-width: 800px;
    margin: 0 auto; 
}

main .hero { 
    position: relative;
}
.hero .overlay { 
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 40%;
    padding: 1rem;
    margin-left: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    /* border-top: red solid 2px; */
    /* border-radius: 10px; */
    border: 2px solid rgba(255, 255, 255,  0.8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 10px black;
}

.overlay p { 
    line-height: 1.5rem;
}
main .hero img { 
    width: 100%;
    height: auto;
    border: 2px solid rgba(0, 0, 0, 0.5);
    display: block;
    box-shadow: 0 0 12px rgba(0, 0, 0);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}

main .map { 
    width: 100%; 
}
.map iframe { 
    width: 100%;
    /* height: auto; */
    padding: 2rem;
}


main h1 { 
    padding: 0.75rem; 
    font-size: 25px;
    border-bottom: 1px solid black;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center                         ;
}
.parent { 
    margin: 1rem 2vw;
    border-bottom: 2px solid black;
}
.parent section { 
    border: 1px solid #415541;
    /* background-color: #e9f5e9; */
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    
}

.parent h2 { 
    /* background-color: #415541; */
    background-color: rgb(211, 211, 211);
    color: black; 
    font-size: 16px;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 0.75rem 0;
}

.parent p { 
    padding: 10px;
    font-family: "Merriweather", sans-serif;
} 

footer { 
    min-height: 12rem;
    display: block;
    align-content: center;
    text-align: center;
}
footer p { 
    margin: 1rem 0; 
    font-size: 16 px; 
    font-weight: bold;
    font-family: "Merriweather", sans-serif;
}



